# Dependencies
node_modules/
**/node_modules/

# Production & Build outputs
dist/
dist-ssr/
build/
**/dist/
**/build/
/build
/captures
.externalNativeBuild
.cxx

# Android & Gradle Build Artifacts
*.iml
.gradle
.kotlin
local.properties
/local.properties
debug.keystore

# Environment files & secrets
.env
.env.*
!.env.example
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.vscode/
!.vscode/extensions.json
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
